---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
---

<Layout
  title="Not found"
  noNavbar
  class="flex h-screen items-center justify-center"
>
  <a href="/">
    <Logo class="h-20 text-black dark:text-white" />
    <h1
      class="mt-4 text-center text-2xl font-bold text-neutral-600 dark:text-neutral-400 sm:text-3xl"
    >
      <span class="text-red-500">404</span> - Not found
    </h1>
  </a>
</Layout>
