---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog" class="overflow-y-auto snap-y snap-mandatory max-h-screen">
  <div
    class="flex min-h-screen flex-col justify-center items-center py-6 mx-6 md:mx-auto max-w-screen-md"
  >
    <h1 class="text-4xl font-bold text-green-500">Coming soon</h1>
  </div>
</Layout>
