---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Projects"
  class="overflow-y-auto snap-y snap-mandatory max-h-screen"
>
  <div
    class="flex min-h-screen flex-col justify-center items-center py-6 mx-6 md:mx-auto max-w-screen-md text-neutral-600 dark:text-neutral-300 text-lg"
  >
    <h1 class="text-4xl font-bold text-green-500 mb-4">Coming soon</h1>
    <p>I'm currently working on a new website for my projects.</p>
    <p>
      In the meantime, you can check out my <a
        href="https://www.github.com/alzeck"
        class="underline decoration-green-500/[75%] hover:text-green-500 hover:decoration-green-500"
      >
        GitHub profile.
      </a>
    </p>
  </div>
</Layout>
