---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout title="Projects">
  <ul class="space-y-4">
    {
      projects.length === 0 ? (
        <li class="text-muted">Coming soon</li>
      ) : (
        projects.map((p) => (
          <li class="border-muted group border-dashed pb-4 not-last:border-b">
            <a href={p.data.url} target="_blank" rel="noopener noreferrer">
              <div class="group-hover:text-primary font-semibold">
                {p.data.title}
              </div>

              <div class="text-muted group-hover:text-foreground mt-2 text-sm text-pretty">
                {p.data.description}
              </div>
            </a>
          </li>
        ))
      )
    }
  </ul>
</Layout>
