---
const currentPath = Astro.url.pathname;
const routes = [
  { path: "/", name: "home" },
  { path: "/projects", name: "projects" },
  { path: "/blog", name: "blog" },
];
---

<div
  class="fixed inset-x-0 top-0 z-10 bg-background/75 py-3 backdrop-blur-lg sm:py-5"
>
  <div
    class="mx-10 flex max-w-screen-sm items-center justify-between
    gap-2 text-lg md:mx-auto lg:max-w-screen-md"
  >
    <div class="flex justify-center text-2xl sm:justify-start ">
      <a class="font-medium text-logo hover:text-accent" href="/"> alzeck </a>
    </div>

    <nav
      class="grid grid-cols-3 leading-none sm:col-span-2 sm:w-fit lg:col-span-1"
    >
      {
        routes.map(({ path, name }) => (
          <a
            class:list={{
              "flex items-center justify-center rounded p-2": true,
              "text-muted hover:text-accent": currentPath !== path,
              "text-primary underline underline-offset-4": currentPath === path,
            }}
            href={path}
          >
            {name}
          </a>
        ))
      }
    </nav>
  </div>
</div>
