---
const currentPath = Astro.url.pathname;
const routes = [
  // { path: "/", name: "home" },
  { path: "/projects", name: "projects" },
  { path: "/blog", name: "blog" },
];
---

<div
  class="bg-background/75 border-muted inset-x-0 top-0 z-10 backdrop-blur-lg"
>
  <div class="text-md flex items-center justify-between gap-2 sm:flex-row">
    <div class="flex justify-center text-xl sm:justify-start">
      <a class="text-logo hover:text-accent font-medium" href="/"> alzeck </a>
    </div>

    <nav class="grid grid-cols-2">
      {
        routes.map(({ path, name }) => (
          <a
            class="data-[active=false]:text-muted data-[active=false]:hover:text-accent data-[active=true]:text-primary flex items-center justify-center p-2"
            data-active={currentPath.includes(path)}
            href={path}
          >
            {name}
          </a>
        ))
      }
    </nav>
  </div>
</div>
