---
import "../styles/base.css";
import Navbar from "../components/Navbar.astro";
import "@fontsource/geist-mono";
import "@fontsource/geist-sans";
import { ClientRouter } from "astro:transitions";

export interface Props {
  title: string;
  class?: string;
  noNavbar?: boolean;
}

const { title, class: mainClass, noNavbar } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />
    <title>alzeck - {title}</title>
    <ClientRouter />
  </head>
  <body
    class="bg-background text-foreground mx-auto max-w-3xl px-10 py-4 font-mono text-sm *:text-pretty"
  >
    {!noNavbar && <Navbar />}
    <main class:list={["space-y-4 py-10", mainClass]}>
      <slot />
    </main>
  </body>
</html>
