---
import "../styles/base.css";
import Navbar from "../components/Navbar.astro";
import "@fontsource/geist-mono";
import "@fontsource/geist-sans";

export interface Props {
  title: string;
  class?: string;
  noNavbar?: boolean;
}

const { title, class: mainClass, noNavbar } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset=" UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>alzeck - {title}</title>
  </head>
  <body class="dark bg-background font-mono text-foreground">
    {!noNavbar && <Navbar />}
    <main class:list={["mx-10 mt-20 max-w-screen-sm space-y-4 py-6 md:mx-auto lg:max-w-screen-md", mainClass]}>
      <slot />
    </main>
  </body>
</html>
